.header {
    background-color: var(--external-color);
    position: relative;
    border-bottom: 1px solid var(--border-color);
    
   
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  
  .nav {
    display: none;
    margin-right: auto;
    align-items: center;
    @include tab {
      display: flex;
    }

  }
  
  
  .site__item:not(:last-child) {
    margin-right: 50px;
  }

  
  .header-tel {
    display: none;
    align-items: center;
    @include tab {
      display: block;
    }
    @include desk {
      display: flex;
    }
  }
  
  .header__tel:not(:last-child) {
    margin-bottom: 10px;
    @include desk {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  
  .auth-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @include desk {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  
  .auth-nav__icon {
    margin-right: 8px;
    fill: currentColor;
    @include desk {
      margin-right: 10px;
    }
  }
  
  
  .site-list{
  color: var(--title-color);
  display: flex;
  }
  
  .site-list__link{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
  transition: color var(--transition) 
  }
  .header-icons {
    margin-right: 10px;
    fill: currentColor;
  }
 

  .header-nav-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;;
    color: var(--primery-text-color);
  }
 
.menu.is-hidden {
    left: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .mob-header-btn {
    border: none;
    background-color: inherit;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
    @include tab {
      display: none;
    }
  }

  
  
  .menu {
    background-color: var(--external-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 796px;
    z-index: 1;
    overflow-y: scroll;
    transition: left 550ms, opacity 500ms, visibility 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
  }
  
  .mob-header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  
  .menu__close {
    position: absolute;
    right: 5vw;
    top: 3vh;
    background-color: inherit;
    border: none;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  
  .mob-menu__item {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  
  .mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .mob-menu__link--active {
    color: var(--accent-color);
  }
  .mob-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mob-menu__social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  
  .mob-menu__social__item {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  
    &:not(:first-child) {
      padding-left: 10px;
    }
  }  

  .auth__list {
    margin-bottom: 64px;
  }
  
  .auth__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  
  .auth__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  
  .auth__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color, font-weight, font-size, letter-spacing;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mob-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mob-menu__social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  
  .mob-menu__social__item {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
  
 

  
  