.team-color {
    background-color: var(--ex-bg-color);
  }
  .team{
    @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
  }

  .team__item {
    background-color: var(--external-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include tab {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @include desk {
    flex-basis: calc(100% / 4 - 30px);
  }
}

   
  .team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  
  .team__text,
  .team__title  {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  .team__title  {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }

  .team__card {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  
  