body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--external-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
  }
  
  .link {
    text-decoration: none;
    outline: none;
    color: inherit
  }
  
  .list {
    list-style: none;
  }
  .title {
    color: var(--title-color);
  }
  img{
    display: block;
    min-width: 100%;
    height: auto;
    }